body{
    font-family: Helvetica, sans-serif;
}

h2{
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 40px;
    font-size: 30px;
}

ul{
    list-style-type: none;
    margin-left: -20px;
}

a{   
    color: green;
    text-decoration: none;
    margin-left: 50px;
}


hr{
    margin: 20px;
    border: solid 1px;
}

main{
    margin: 20px;
}
